[project]
	description = New Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shyamadash
[access "refs/for/refs/*"]
	read = group user/shyamadash
	push = group user/shyamadash
	label-Code-Review = -2..+2 group user/shyamadash
	label-Verified = -1..+1 group user/shyamadash
	rebase = group user/shyamadash
	removeReviewer = group user/shyamadash
	submit = group user/shyamadash
[access "refs/heads/*"]
	read = group user/shyamadash
	create = group user/shyamadash
	push = +force group user/shyamadash
	pushMerge = group user/shyamadash
[access "refs/tags/*"]
	push = +force group user/shyamadash
	pushTag = group user/shyamadash
	pushSignedTag = group user/shyamadash
